<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Debug{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    {% block style %}{% endblock %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block javascript %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="?kizilare_debug=1">Debug index</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
{% if id %}
                <li{% if section == 'stats' %} class="active"{% endif %}><a href="?kizilare_debug=1&stats={{ id }}" title="Grouped code with stats">Stats</a></li>
                <li{% if section == 'trace' %} class="active"{% endif %}><a href="?kizilare_debug=1&trace={{ id }}" title="See trace">Trace</a></li>
                <li{% if section == 'coverage' %} class="active"{% endif %}><a href="?kizilare_debug=1&coverage={{ id }}" title="Coverage">Coverage</a></li>
                <li{% if section == 'diagram' %} class="active"{% endif %}><a href="?kizilare_debug=1&diagram={{ id }}" title="Diagram">Diagram</a></li>
                <li{% if section == 'sequence' %} class="active"{% endif %}><a href="?kizilare_debug=1&sequence={{ id }}" title="Diagram">Sequence</a></li>
{% endif %}
            </ul>
{% if root_dir %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="codebrowser:{{ root_dir }}" title="{{ root_dir }}">Root Dir</a></li>
            </ul>
{% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>





