<!DOCTYPE HTML>
<html>
<head>
    <title>Script title</title>
    <style>
        body, html { height: 100%;margin:0; padding:0;  }
        * { font-family:courier,monospace; font-size: 13px; }

        div.column { width: 50%; float: left; }
        div.inner { overflow: auto;  border: 2px solid black; }

        .selected { background-color: lightgrey; }

        pre.line { float: left; margin:0; }
        div.line { border-bottom: 1px solid lightblue; height: 15px; overflow: hidden; width: 5000px;}
            a.line_no { float: left; color:white; background-color: gray; font-weight: bold; padding: 1px; }

        .covered { background-color: lightgreen; }

        a { color: #000000; text-decoration: none; }
    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</head>
<body>
<div class="column">
    <div class="inner">
{% for line_no, line in trace_lines %}
        <div class="line{% if line_no == selected_trace %} selected{% endif %}">
            <a href="?code={{ id }}&line={{ line_no }}" class="line_no">
                {{ "%03d" | format(line_no) }}
            </a>
            <a href="?code={{ id }}&line={{ line_no }}">
                <pre class="line">{{ line }}</pre>
            </a>
        </div>
{% endfor %}
    </div>
</div>
<div class="column">
    <div class="inner">
{% for line_no, line in code_lines %}
        <div class="line{% if line_no == line.selected %} selected{% endif %}">
            <a href="codebrowser:{{ line.path }}" class="line_no">{{ "%03d" | format(line_no) }}</a>
            <pre class="line{% if line_no == line.covered %} covered{% endif %}">{{ line.code }}</pre>
        </div>
{% endfor %}
    </div>
</div>
</body>
</html>