{% extends 'bootstrap.html.twig' %}
{% block title %}Debug - Code Coverage {{ file }}{% endblock %}
{% block style %}
<style>
    pre.line { float: left; margin:0; width: 90%; overflow: hidden; padding: 0; border: none;}
    div.line { border-bottom: 1px solid lightblue; height: 18px; overflow: hidden; width: 5000px;}
    a.line_no { float: left; color:white; background-color: gray; font-weight: bold; padding: 1px; }

    .covered { background-color: #D4FFD4; }
    a { color: #000000; text-decoration: none; }
</style>
{% endblock %}
{% block body %}
{% for line_no, line in lines %}
    {% set line_no = line_no + 1 %}
    <div class="line">
        <a href="codebrowser:{{ file }}:{{ line_no }}" class="line_no">{{ "%03d" | format(line_no) }}</a>
        <pre class="line{% if coverage[line_no] is defined %} covered{% endif %}">{{ line }}</pre>
    </div>
{% endfor %}
{% endblock %}
