{% extends 'bootstrap.html.twig' %}
{% block title %}Debug - Code Trace{% endblock %}
{% block style %}
<style>
        ul { list-style: none; padding: 0; }
        a { text-decoration: none; color: black; float: left; display: block; margin-right: 10px; }
        a:hover { text-decoration: underline; }
        li span { width: 100px; }
        .even { background-color:#DEDEDE; }
        .odd { background-color:#FFFFFF; }
</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    function deleteTrace(sTraceId) {
        $.get('?delete=' + sTraceId, function(oData) {
            $('#' + sTraceId).fadeOut();
        });
    }
</script>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>File</th>
                <th>Lines</th>
            </tr>
        </thead>
{% for file, lines in files %}
        <tr>
            <td>
                <a href="codebrowser:{{ file }}" title="Open info file"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="?coverage={{ id }}&file={{ file }}" title="Open info file">{{ file }}</a>

            </td>
            <td>{{ lines | length }}</td>
        </tr>
{% endfor %}
    </table>
{% endblock %}
