{% extends 'bootstrap.html.twig' %}
{% block title %}Debug - Code Trace{% endblock %}
{% block style %}
<style>
        ul { list-style: none; padding: 0; }
        a { text-decoration: none; color: black; float: left; display: block; margin-right: 10px; }
        a:hover { text-decoration: underline; }
        li span { width: 100px; }
        .even { background-color:#DEDEDE; }
        .odd { background-color:#FFFFFF; }
        tr:hover pre.details { display: block; }
        pre.details {
            position: absolute;
            z-index: 10;
            margin: 20px;
            display: none;
        }
</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    function deleteTrace(sTraceId) {
        $.get('?delete=' + sTraceId, function(oData) {
            $('#' + sTraceId).fadeOut();
        });
    }
    function renameTrace(sTraceId) {
        sNewName = prompt('New name', $('#' + sTraceId + ' .name').html());
        $.get('?rename=' + sTraceId + '&name=' + sNewName, function(oData) {
            $('#' + sTraceId + ' .name').html(sNewName);
        });
    }
</script>
{% endblock %}
{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Options</th>
                <th>Date</th>
                <th>Name</th>
                <th>Size</th>
                <th>Method</th>
                <th>Post</th>
                <th>Host</th>
                <th>Uri</th>
            </tr>
        </thead>
{% for file in files %}
{% if file.name %}
        <tr id="{{ file.id }}">
            <td>
                <pre class="details">{{ file.details }}</pre>
                <a href="codebrowser:{{ root_dir }}{{ file.id }}.svr" title="Open info file"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="?stats={{ file.id }}" title="Grouped code with stats"><span class="glyphicon glyphicon-stats"></span></a>
                <a href="?trace={{ file.id }}" title="See trace"><span class="glyphicon glyphicon-sunglasses"></span></a>
                <a href="?coverage={{ file.id }}" title="Coverage"><span class="glyphicon glyphicon-book"></span></a>
                <a href="?diagram={{ file.id }}" title="Diagram"><span class="glyphicon glyphicon-th"></span></a>
                <a href="?sequence={{ file.id }}" title="Sequence Diagram 2"><span class="glyphicon glyphicon-transfer"></span></a>
{% if not readonly %}
                <a href="?delete={{ file.id }}" onclick="deleteTrace('{{ file.id }}'); return false;" title="delete file"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="?rename={{ file.id }}" onclick="renameTrace('{{ file.id }}'); return false;" title="rename file"><span class="glyphicon glyphicon-edit"></span></a>
{% endif %}
            </td>
            <td>{{ file.time }}</td>
            <td class="name">{{ file.name }}</td>
            <td>{{ file.size }}Kb</td>
            <td>{{ file.info.server.REQUEST_METHOD }}</td>
            <td>{{ file.info.post | length }}</td>
            <td>{{ file.host }}</td>
            <td>{{ file.info.server.REQUEST_URI }}</td>
        </tr>
{% endif %}
{% endfor %}
    </table>
{% endblock %}
