{% extends 'bootstrap.html.twig' %}
{% set WIDTH = 8 %}

{% block title %}Debug - Code Sequence{% endblock %}
{% block style %}
<style>
    #main_panel {
        z-index: 30;
        position: fixed;
        right: 20px;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ resource }}diagram.js"></script>
<script type="text/javascript" src="{{ resource }}raphael-min.js"></script>
<script type="text/javascript">

    var sFile = '{{ file }}',
        sId = '{{ id }}',
        oSequenceSteps = {{  steps | raw }},
        oSequenceNamespaces = {{ namespaces | raw }};
</script>
{% endblock %}

{% block body %}
    <div id="main_panel" class="panel panel-default hidden">
        <div class="panel-heading"><a href="#" onclick="$('#main_panel').addClass('hidden');">Close</a></div>
        <div class="panel-body">
            <h3 id="call"></h3>
            <ul>
                <li id="source"><a href="#">Open Source</a></li>
                <li><a id="json" href="#">Open Json</a></li>
                <li><a href="#" id="delete">Delete</a></li>
            </ul>
            <pre id="debug"></pre>
        </div>
    </div>
{% endblock %}