{% extends 'bootstrap.html.twig' %}
{% macro showChildren(files, id) %}
{% import _self as tree %}
<ul>
{% for file in files %}
    <li class="{% if file.count_children %}parent{% else %}leaf{% endif %}">
        <a href="codebrowser:{{ file.path }}" title="{{ file.short_path }}">{{ "%08d"|format(file.time_children) }}&micro;s</a>
        <a href="?trace={{ id }}&line={{ file.line_no }}&kizilare_debug=1" target="_blank" title="View trace line {{ file.line_no }}"><span class="glyphicon glyphicon-sunglasses"></span></a>
        <span class="glyphicon {% if file.count_children %}glyphicon-plus{% else %}glyphicon-minus{% endif %}"></span>
        [{{ file.count_children }}]
        <span>{{ file.call }}</span>
            <div class="bar" style="width:{{ file.relative }}%"></div>
{% if file.count_children %}
{{ tree.showChildren(file.children, id) }}
{% endif %}
        </li>
{% endfor %}
</ul>
{% endmacro %}
{% import _self as tree %}

{% block title %}Debug - Trace{% endblock %}
{% block style %}
<style>
    ul { list-style: none; padding-left 5px;}
    li { border-left: 1px solid black; border-bottom: 1px solid black;}
    li ul { display: none; }
    li.leaf { background-color: #FFFFD4; }
    li.parent { background-color: #E2FEE2; }
    li.parent > span { cursor: pointer; font-weight:bold; }
    li.parent > span:hover { background-color: greenyellow; }
    div.bar { border: 2px solid red;}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $().ready(function(){
        $('li.parent > span').on('click', function() {
        console.log($(this).siblings('ul').slideToggle());
        });
    });
</script>
{% endblock %}

{% block body %}
{{ tree.showChildren(files.children, id) }}
{% endblock %}
