{% extends 'base.html.twig' %}

{% macro showChildren(files) %}
<ul>
{% for file in files %}
    <li class="{% if file.children|length > 0 %}parent{% else %}leaf{% endif %}">
        <a href="codebrowser:{{ file.path }}" title="{{ file.short_path }}">{{ file.time_children }}&micro;s</a><span> {{ file.call }}</span>
            <div class="bar" style="width:{{ file.relative }}%"></div>
{% if file.children|length > 0 %}
{{ _self.showChildren(file.children) }}
{% endif %}
        </li>
{% endfor %}
</ul>
{% endmacro %}

{% block title %}Debug - Trace{% endblock %}
{% block style %}
    ul { list-style: none; padding-left 5px;}
    li { border-left: 1px solid black; border-bottom: 1px solid black;}
    li ul { display: none; }
    li.parent > span { cursor: pointer; }
    li.parent > span:hover { background-color: greenyellow; }
    div.bar { border: 2px solid red;}
{% endblock %}

{% block javascript %}
    $().ready(function(){
        $('li.parent > span').on('click', function() {
        console.log($(this).siblings('ul').slideToggle());
        });
    });

{% endblock %}

{% block body %}
{{ _self.showChildren(files.children) }}
{% endblock %}
