{% extends 'bootstrap.html.twig' %}
{% block title %}Debug - Code Trace{% endblock %}
{% block style %}
    <style>
        div.column { width: 50%; float: left; }
        div.inner { overflow: auto;  border: 2px solid black; }
        pre.line { float: left; margin:0; width: 90%; overflow: hidden; padding: 0; border: none;}
        div.line { border-bottom: 1px solid lightblue; height: 18px; overflow: hidden; width: 5000px;}
            a.line_no { float: left; color:white; background-color: gray; font-weight: bold; padding: 1px; }

        .covered { background-color: #D4FFD4; }
        .follow { font-weight: bold; }
        .selected pre { background-color: #7FFF2A; }
        .shared pre { background-color: #D4FFD4; }
        a { color: #000000; text-decoration: none; }
    </style>
{% endblock %}
{% block javascript %}
   <script type="application/javascript">
       var nTotalLines = {{ total_lines }};
    $().ready(function() {
        $('div.progress').bind('mousemove', function(oEvent) {
            $('#progress_label').html('{{ selected_trace }} / {{ total_lines }} (' + getLine(oEvent.clientX) + ')');
        }).bind('click', function(oEvent) {
            window.location.href = '?trace={{ id }}&line=' + getLine(oEvent.clientX) + '&kizilare_debug=1';
        }).bind('mouseout', function(oEvent) {
            $('#progress_label').html('{{ selected_trace }} / {{ total_lines }} - ');
        });
    });

    function getLine(nOffsetX) {
        var nLine = nTotalLines * (nOffsetX / $('div.progress').width());
        return parseInt(nLine);
    }
   </script>
{% endblock %}
{% block body %}
    <ol class="breadcrumb">
{% for info in navigation.breadcrumbs %}
        <li><a href="?trace={{ id }}&line={{ info.line }}&kizilare_debug=1" title="{{ info.call }}()">{{ info.name }}()</a></li>
    {% endfor %}
        <li class="active">...</li>
        <li><a href="?trace={{ id }}&line={{ navigation.next.line }}&kizilare_debug=1" title="{{ navigation.next.call }}()">{{ navigation.next.name }}()</a></li>
    </ol>

    <form class="form-inline">
        <div class="form-group">
             <input type="text" class="form-control" placeholder="search..." name="search">
            <input type="hidden" name="trace" value="{{ id }}" />
            <input type="hidden" name="line_no" value="{{ line_no }}" />
            <input type="hidden" name="kizilare_debug" value="1" />
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>

    <p id="progress_label">{{ selected_trace }} / {{ total_lines }}</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ selected_trace }}" aria-valuemin="0" aria-valuemax="{{ total_lines }}" style="width: {{ progress }}%;"></div>
    </div>


<div class="column">
    <div class="inner">
{% for line_no, lineInfo in trace_lines %}
        <div class="line{% if line_no == selected_trace %} selected{% elseif lineInfo.shared %} shared{% endif %}" title="{{ lineInfo.file }}">
            <a href="?trace={{ id }}&line={{ line_no }}&kizilare_debug=1" class="line_no">
                {{ "%03d" | format(line_no) }}
            </a>
            <a href="?trace={{ id }}&line={{ line_no }}&kizilare_debug=1">
                <pre class="line">{{ lineInfo.indent }}{{ lineInfo.call }}</pre>
            </a>
        </div>
{% endfor %}
    </div>
</div>
<div class="column">
    <div class="inner">
{% for line_no, line in code_lines %}
        <div class="line{% if line.selected %} selected{% endif %}{% if context[line_no] %} follow{% endif %}">
            <a href="codebrowser:{{ line.path }}" class="line_no">{{ "%03d" | format(line_no) }} </a>
{% if context[line_no] %}
            <a href="?trace={{ id }}&line={{ context[line_no] }}&kizilare_debug=1">
                <pre class="line{% if line_no == line.covered %} covered{% endif %}">{{ line.code }}</pre>
            </a>
{% else %}
            <pre class="line{% if line_no == line.covered %} covered{% endif %}">{{ line.code }}</pre>
{% endif %}
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}
