<ul>
{%  for line in lines %}
        <li id="line_{{ line.xt_line }}" class="{% if line.children %}parent{% else %}leaf{% endif %}">
            <div class="tree_row">
                <div class="spent">
                    {{ "%08d"|format(line.time_spent) }}&micro;s
                    <div class="bar" style="width:{{ line.partial }}%"></div>
                </div>
                <a href="?trace={{ id }}&line={{ line.xt_line }}&kizilare_debug=1" target="_blank" title="View trace line {{ line.xt_line }}">
                    {{ '%06d' | format(line.xt_line) }}
                </a>
{%      if line.children %}
                <a href="#" class="expand">
                    [{{ '%06d' | format(line.children) }}/{{ '%06d' | format(line.descendant) }}]
                    <span class="call">{{ line.call }}</span>
                </a>
{%      else %}
                [------/------]
                <span class="call">{{ line.call }}</span>
{%      endif %}
                <a href="{{ line.link }}" title="{{ line.path }}" class="path">{{ line.file }}:{{ line.line }}</a>
            </div>
            <div class="children"></div>
        </li>
{%  endfor %}
</ul>
